<p>Hey <strong><%= @user_2.username %></strong>,</p>
<p>
  You are no longer assigned task with description '<%= @task.desc %>'.<br />
  The task is now assigned to <strong><%= @user.username %></strong>
</p>
<p>
  Sorry for the inconvenience.
</p>
<p>
  With Regards,<br />
  Admin
</p>
<p>
  PS: This is an automail so please do not reply
</p>
