<p>
This is to inform you that the deadline for your task with description '<%= @task.desc %>' has passed on <%= @task.due_date %> and therefore the task has expired.<br>
Hope you do not miss any more tasks!
</p>

<p>
With Regards,<br>
Admin
</p>
<p>
PS: This is an automail so do not reply
</p>
