<h4>Hey <%= @user.username %>,</h4>
<p>
  This is to notify you that <%= @user_2.username %> commented '<strong><%= @employee_comment.comment %></strong>' on your task with description '<strong><%= @task.desc %></strong>'
<p>
  With Regards,<br>
  Admin
</p>
<p>
  PS: This is an automail, so please do not reply
</p>
</p>