<p>Hey <strong><%= @user.username %></strong>,</p>
<p>
  This is to inform you that the manager for your task with description '<%= @task.desc %>' has changed.<br />
  The task's new manager is <strong><%= @manager.username %></strong>
</p>
<p>
  Sorry for the inconvenience.
</p>
<p>
  With Regards,<br />
  Admin
</p>
<p>
  PS: This is an automail so please do not reply
</p>